<h1> Ingredients for <%= @recipe.name %></h1>
<% @counter = 0 %>
<% @ingredients.each do |ingredient| %>
  <p> Ingredient Required: <%= ingredient.name %> </p>
  <%= @counter += ingredient.cost %>
<% end %>
  <p> Total Cost: <%=@counter%> </p>
